.formContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0;
  margin-bottom: 30px;
}

.inputfield {
  display: block;
  width: 300px;
  height: 30px;
  border: 1px solid #c8cbcf;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #c8cbcf;

  padding: 6px;
  color: #112f59;
  font-size: 20px;
}

.inputfield:focus {
  outline: none;
  border: 1px solid #112f59;
  box-shadow: 0px 0px 10px #112f59;
}

.labeltitle {
  color: #112f59;
  font-size: 20px;
}

.error {
  color: red;}
